.second-about-section-all{
  width:90.5%;
  margin: 0 auto;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 25% 75%;
  @media screen and(max-width: 1024px) {
    grid-template-columns: none;
    grid-auto-flow: row;
  }
  .second-about-section-right{
    padding-left:12rem ;
    text-transform: uppercase;
    @media screen and(max-width: 1024px) {
     padding: 0;
    }
    h2{
      font-size: 4rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 1.6px;
      text-align: left;
      color: #3e3e3e;
      margin-bottom: 6rem;
      span{
        text-transform: lowercase;
      }
    }
    p{
      text-transform: none;
      font-size: 2.2rem;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.59;
      letter-spacing: 0.55px;
      text-align: left;
      color: #2e2e2e;
      margin-bottom: 8rem;
    }
    .f{
      margin-bottom: 5.5rem;
    }
  }
  .second-about-section-left{
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
    @media screen and(max-width: 1024px) {
      position: unset;
    }
    .liljana-div{
      width: 100%;
      min-height: 65rem;
      background-size: cover;
      background-position: 80%;
    }
    img{
      margin: 2rem auto;
      width: 100%;
    }
    p{
      font-size: 2rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.35;
      letter-spacing: 1.2px;
      text-align: left;
      color: #5c5c5c;
    }
  }
}