@import "./components/mobilecomponents/FirstComponent";
.harren-main-body{
  display: grid;
  gap: 85px;
  .inspiration-bottom{
    margin-top: 0;
    .inspiration-bottom-text{
      @media screen and(min-width: 1024px) and(max-width: 1228px) {
        padding-top: 0;
        align-self: center;
      }
    }
    .inspiration-bottom-text2{
      @media screen and(min-width: 1024px) and(max-width: 1228px) {
        padding-top: 0;
        align-self: center;
      }
    }
  }
  .second-section-home{
   margin-top: 5rem;
  }
}
.herren-head-body{
    width: 100%;
    margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50%;
  margin-top: 50px;
  @media screen and(max-width: 1024px) {
      display: none;
  }
    .herren-head-left{
      display: flex;
      justify-content: flex-end;
      background-color: #000000;
      padding: 165px 0;
      .herren-head-left-body{
        width: 90.5%;

        p{
          color: #ffffff;
          font-family: "Freight Sans Pro",system-ui,inherit;
          font-size: 2.5rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 1.38px;
          line-height: normal;
          text-transform: uppercase;
          margin: 0;
        }
        h2{
          color: #ffffff;
          font-family: "Freight Sans Pro",system-ui,inherit;
          font-size: 8rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 3.6px;
          line-height: 80px;
          text-transform: uppercase;
          text-align: left;
          cursor: pointer;
        }
        button{
          background-color: #ffffff;
          border: none;
          color: #000000;
          font-family: "Freight Sans Pro",system-ui,inherit;
          font-size: 2.5rem;
          padding: 20px;
          margin-top: 0px;
          font-weight: 500;
          font-style: normal;
          letter-spacing: 5px;
          line-height: normal;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  .herren-head-right{
    min-height: 625px;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}
.harren-first-products{
    width: 90%;
    margin: 10vh auto ;


}
.harreninsp{
  display: grid;
  gap: 132px;
  background: black;
}