@media only screen and(max-width: 991px) {
  .herren-head-right{
    min-height: 43vh !important;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .herren-head-left{
    width: 100% !important;
    margin: 0 auto !important;
    .herren-head-left-body{
      margin: 0 auto;
      text-align: center;
      h2{
        text-align: center !important;
        font-size: 3rem !important;
      }
    }
  }
}
