.filter-button {
  border: 1px solid black;
  border-radius: 5px;
  width: max-content;
  display: flex;
  align-items: center;
  &:hover{
    background-color: black;
    color: white;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}