.inspiration-bottom {
  width: 90.5%;
  margin: 0px auto;
  display: flex;
  margin-top: 10rem;
  @media screen and(max-width: 1024px) {
    flex-direction: column;
  }
  .inspiration-bottom-text2 {
    //padding: 80px 0 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding-left: 2rem !important;
    @media screen and(max-width: 1024px) {
      padding-left:0 !important;
    }
    .inspiration-bottom-head-txt {
      margin-bottom: 10px;
      p {
        color: #5c5c5c;
        font-family: 'Freight Sans Pro', system-ui,inherit;
        font-size: 2.5rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1.38px;
        text-align: left;
        /* Text style for "Damendufte" */
        font-style: normal;
        margin: 10px auto;
        text-transform: uppercase;
      }
      h2 {
        color: #3e3e3e;
        font-family: 'Freight Sans Pro', system-ui,inherit;
        font-size: 6.5rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        line-height: 55px;
        text-align: left;
        font-style: normal;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 40px;
        @media screen and(max-width: 1024px) {
          line-height: 1 !important;
        }
      }
    }
    span {
      color: #2e2e2e;
      font-family: 'Freight Sans Pro', system-ui,inherit;
      font-size: 2.4rem;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 0.55px;
      line-height: 35px;
      text-align: left;
      /* Text style for "Lorem ipsu" */
      font-style: normal;
      margin-bottom: 35px;
      display: inline-block;
    }
    .inspiration-bottom-btn {
      width: 36%;
      padding: 12px 0px;
      background-color: #080808;
      color: #ffffff;
      font-family: 'Freight Sans Pro', system-ui,inherit;
      font-size: 2.75rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
      font-style: normal;
      text-transform: uppercase;
      border: none;
      @media screen and(max-width: 1610px) {
        width: fit-content;
        padding: 1rem;
      }
    }
  }
  .inspiration-bottom-text {
    display: flex;
    flex-direction: column;
    //padding: 65px 40px 0 0px;
    justify-content: center;
    padding-right: 2rem !important;
    flex: 1;
    @media screen and(max-width: 1024px){
      order: 2;
      padding-right: 0 !important;
    }
    .inspiration-bottom-head-txt {
      margin-bottom: 10px;
      p {
        color: #5c5c5c;
        font-family: 'Freight Sans Pro', system-ui,inherit;
        font-size: 2.5rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1.38px;
        text-align: left;
        /* Text style for "Damendufte" */
        font-style: normal;
        margin: 10px auto;
        text-transform: uppercase;
      }
      h2 {
        color: #3e3e3e;
        font-family: 'Freight Sans Pro', system-ui,inherit;
        font-size: 6.5rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        line-height: 55px;
        text-align: left;
        font-style: normal;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 40px;
        @media screen and (max-width: 1024px){
          line-height: 1;
        }
      }
    }
    span {
      color: #2e2e2e;
      font-family: 'Freight Sans Pro', system-ui,inherit;
      font-size: 2.4rem;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 0.55px;
      line-height: 35px;
      text-align: left;
      /* Text style for "Lorem ipsu" */
      font-style: normal;
      margin-bottom: 35px;
      display: inline-block;
    }
    .inspiration-bottom-btn {
      width: 36%;
      padding: 12px 0px;
      background-color: #080808;
      color: #ffffff;
      font-family: 'Freight Sans Pro', system-ui,inherit;
      font-size: 2.75rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
      font-style: normal;
      text-transform: uppercase;
      border: none;
      @media screen and(max-width: 1610px) {
        width: fit-content;
        padding: 1rem;
      }
    }
  }
  .inspiration-bottom-image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 630px;
    flex: 1;
    @media screen and(max-width: 1024px) {
      min-height: 63vw;
    }
    @media screen and(max-width: 1024px){
      min-height: 80vw;
    }
    img{
      width: 100%;
    }
    .inspiration-bottom-imagetxt {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      bottom: 30px;
      padding: 5px 0;
      .insp-bot-sm {
        width: fit-content;
        padding-left: 10px;
        background-color: #000000;
        color: #ffffff;
        font-family: 'Ivy Presto Display', system-ui,inherit;
        font-size: 2.75rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 1.5px;
        text-align: left;
        font-style: normal;

        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
      }
      .insp-bot-lg {
        color: #ffffff;
        font-family: 'Freight Sans Pro', system-ui,inherit;
        font-size: 6rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        text-align: left;
        /* Text style for "Entdecken" */
        font-style: normal;
        margin: 10px 0;
        text-transform: uppercase;
        background-color: #000000;
        text-align: center;
        padding: 0px 10px;
        width: fit-content;
        line-height: 61px;
      }
    }
    .inspiration-bottom-imagetxt-two {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 15%;

      .insp-bot-lg {
        color: #ffffff;
        font-family: 'Freight Sans Pro', system-ui,inherit;
        font-size: 6rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        text-align: left;
        /* Text style for "Entdecken" */
        font-style: normal;
        text-transform: uppercase;
        background-color: #000000;
        text-align: center;
        padding: 0px 10px;
        width: fit-content;
        margin: 10px 0;
        line-height: 61px;
      }
    }
  }
}
