.smallVideo__container {
  &__content {
  }
  &__info {
    margin-top: -5rem;
    &--title {
      font-size: 5rem;
      font-weight: normal;
      line-height: 50px;
      letter-spacing: 1.5px;
      margin-bottom: 4rem;
    }
    a {
      color: #a12224;
      font-size: 2rem;
      font-weight: 500;
      font-style: normal;
      line-height: 35px;
      text-transform: uppercase;
    }
    &--desc {
      color: #2e2e2e;
      font-size: 2.2rem;
      font-style: normal;
      letter-spacing: 0.05rem;
      display: inline-block;
      margin-bottom: 2rem;
      font-weight: 300;
    }
    &__option {
      display: grid;
      justify-content: space-between;
      grid-auto-flow: column;
      align-items: center;
      margin-bottom: 1rem;
      &--text {
        font-size: 2.3rem;
      }
    }
  }
}
.a{
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  img{
    cursor: pointer;
  }
}