.magazin__second__section__container {
  @media screen and(max-width: 1024px){
    grid-template-columns: unset;
    padding-left: 0;
    width: 90.5%;
    margin: 0 auto;
    display: none;
  }
  padding-left: 9rem;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: flex-end;
  &__righttxt{
    @media screen and(max-width: 1790px) {
      padding: 3rem;
    }
    @media screen and(max-width: 1024px) {
      transform: translateX(0);
      padding: 5rem 0;
    }
    align-self: center;
    height: fit-content;
    background: white;
    position: relative;
    transform: translateX(-10rem);
    display: flex;
    flex-direction: column;
    padding: 4.5rem;
    height: fit-content;
    &--date{
      font-size: 2rem;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.34px;
      text-align: left;
      color: #7b7b7b;
      margin: 0;
      margin-bottom: .1rem;
      @media screen and(max-width: 1560px) {
        font-size: 1.8rem;
      }
    }
    &--coverstory{
      font-size: 2.5rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.35;
      letter-spacing: 1.38px;
      text-align: left;
      color: #5c5c5c;
      margin: 0;
      margin-bottom: 2rem;
      text-transform: uppercase;
      @media screen and(max-width: 1560px) {
        font-size: 2rem;
      }
    }
    &--title{
      @media screen and(max-width: 1680px) {
        margin-bottom: 5rem;
      }
      @media screen and(max-width: 1560px) {
        font-size: 5rem;
        margin-bottom: 3.5rem;
      }
      @media screen and(max-width: 1200px) {
        font-size: 4rem;
        margin-bottom: 2rem;
      }
      font-size: 6.5rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.92;
      letter-spacing: 2.4px;
      text-align: left;
      color: #3e3e3e;
      text-transform: uppercase;
      margin-bottom: 7.5rem;

    }
    &--txt{
      @media screen and(max-width: 1680px) {
        margin-bottom: 2rem;
      }
      @media screen and(max-width: 1560px) {
        font-size: 2rem;
      }
      @media screen and(max-width: 1200px) {
        margin-bottom: 1rem;
      }
      font-size: 2.5rem;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.59;
      letter-spacing: 0.55px;
      text-align: left;
      color: #2e2e2e;
      margin-bottom: 5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      word-break: break-word;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
    &--link{
      @media screen and(max-width: 1560px) {
        font-size: 2rem;
      }
      font-size: 2.2rem;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: 1px;
      text-align: left;
      color: #a12224;
      text-transform: uppercase;
      text-decoration: underline;

    }
  }
}