.shop__body__footer{
  display: grid;
  gap: 2rem;
  width: 60.5%;
  margin: 0 auto;
  h2{
    color: #5c5c5c;
    font-size: 4rem;
    text-align: justify;
    font-weight: 400;
    text-transform: uppercase;
  }
  p{
    color: #5c5c5c;
    font-size: 2.2rem;
    text-align: justify;

  }
}