.bestellungen__single {
  &__middle{
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
    border-bottom: 1px solid #707070;
    &__right{
      display: grid;
      gap: 5rem;
      .title{
        font-size: 2.2rem;
        font-weight: 600;
        color: #838383;
        text-transform: uppercase;
      }
      .price{
        font-size: 3rem;
        color: #2e2e2e;
        text-align: right;
      }
    }
    &__left{
      display: flex;
      flex-direction: column;
      &__title{
        font-size: 3.3rem;
        font-weight: 600;
        text-transform: uppercase;
      }
      &__item{
        display: flex;
        align-items: center;

        &__img__block{
          max-width: 20rem;
          img{
            width: 100%;
          }
        }

        &__info__block{
          color: #2e2e2e;
          .title{
            font-size: 3.8rem ;
            margin: 0;
            text-transform: uppercase;
          }
          .type , .quantity{
            font-size: 2.8rem;
            margin: 0;
        }
      }
    }
  }
}}