.checkout__step__scene__body{
  width: 60%;
  margin: 0rem auto;
  margin-top: 7rem;
  @media screen and(max-width: 1024px){
    width: 90.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__scenes{
    @media screen and(max-width: 1024px) {
      width: 75%;
    }
    @media screen and(max-width: 575px) {
      width: 90.5%;
      margin: 0 auto;
    }
  }
  &__header{
    @media screen and (max-width: 1024px){
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
@import "components/steps/CustomStep";
@import "components/step-one/StepOne";
@import "components/step-two/StepTwo";
@import "components/step-three/StepThree";
@import "components/step-four/StepFour";