.componentTitle__container {
  &--text {
    font-size: 9rem;
    letter-spacing: 0.4rem;
    color: #000000;
    font-style: normal;
    margin-top: -4rem;
    font-weight: 200;
    margin-bottom: 0;
  }
}
