.inspiration-bottom {
  width: 90.5%;
  margin: 0px auto;
  display: flex;
  margin-top: 10rem;
  @media screen and (min-width: 2024px) {
    //flex-direction: column;
    margin-top: 35rem !important;
  }
  @media screen and (min-width: 1024px) {
    //flex-direction: column;
    margin-top: 3rem !important;
  }
  @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: portrait) {
    flex-direction: column;
    margin-top: -60px !important;
  }

  @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: landscape) {
    flex-direction: column;
    margin-top: -70px !important;
  }
  .inspiration-bottom-text2 {
    //padding: 80px 0 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding-left: 2rem !important;
    margin-bottom: -15rem;
    @media screen and(max-width: 1024px) {
      padding-left:0 !important;
    }
    .inspiration-bottom-head-txt {
      p {
        color: #5c5c5c;
        font-family: 'Freight Sans Pro', system-ui,inherit;
        font-size: 2.5rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1.38px;
        text-align: left;
        /* Text style for "Damendufte" */
        font-style: normal;
        margin: 10px auto;
        text-transform: uppercase;
        @media screen and (min-width: 2024px) {
          font-size: 2.5rem;
          margin-top: -45rem;
        }
        @media screen and (min-width: 1024px) {
          font-size: 1.5rem;
          margin-top: -35rem;
        }
        @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: portrait) {
          font-size: 1.5rem;
          margin-top: -70px;
        }

        @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: landscape) {
          font-size: 1.5rem;
          margin-top: 0px;
        }
      }
      h2 {
        color: #3e3e3e;
        font-family: 'Freight Sans Pro', system-ui,inherit;
        font-size: 6.5rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        line-height: 55px;
        text-align: left;
        font-style: normal;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 40px;
        @media screen and (min-width: 2024px) {
          line-height: 40px !important;
          font-size: 4.0rem !important;
        }
        @media screen and (min-width: 1024px) {
          font-size: 6rem;
          line-height: 50px;
        }
        @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: portrait) {
          font-size: 4.5rem;
          line-height: 35px;
        }

        @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: landscape) {
          font-size: 4.5rem;
          line-height: 35px;
        }
      }
    }
    span {
      color: #2e2e2e;
      font-family: 'Freight Sans Pro', system-ui,inherit;
      font-size: 2.4rem;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 0.55px;
      line-height: 35px;
      text-align: left;
      margin-bottom: 35px;
      display: inline-block;
      @media screen and (min-width: 2024px) {
        margin-top: -30rem;
        font-size: 2.0rem !important;
        line-height: 25px !important;
      }
      @media screen and (min-width: 1024px) {
        margin-top: -15rem;
        font-size: 2.0rem;
        line-height: 25px;
      }
      @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: portrait) {
        margin-top: -20px;
      }

      @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: landscape) {
        margin-top: -20px;
      }
    }
    .inspiration-bottom-btn {
      width: 36%;
      padding: 12px 0px;
      background-color: #080808;
      color: #ffffff;
      font-family: 'Freight Sans Pro', system-ui,inherit;
      font-size: 2.75rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
      font-style: normal;
      text-transform: uppercase;
      border: none;
      @media screen and(max-width: 1610px) {
        width: fit-content;
        padding: 1rem;
      }
    }
  }
  .inspiration-bottom-text {
    display: flex;
    flex-direction: column;
    //padding: 65px 40px 0 0px;
    justify-content: center;
    padding-right: 2rem !important;
    flex: 1;
    margin-bottom: 5rem;
    @media screen and(max-width: 1024px){
      order: 2;
      padding-right: 0 !important;
    }
    .inspiration-bottom-head-txt {
      p {
        color: #5c5c5c;
        font-family: 'Freight Sans Pro', system-ui,inherit;
        font-size: 2.5rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1.38px;
        text-align: left;
        /* Text style for "Damendufte" */
        font-style: normal;
        margin: 10px auto;
        text-transform: uppercase;
        @media screen and (min-width: 2024px) {
          font-size: 2.5rem;
          margin-top: -310px;
        }
        @media screen and (min-width: 1024px) {
          font-size: 2.0rem;
          margin-top: -100px;
        }
        @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: portrait) {
          font-size: 1.5rem;
          margin-top: -70px;
        }

        @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: landscape) {
          font-size: 1.5rem;
          margin-top: -45px;
        }
      }
      h2 {
        color: #3e3e3e;
        font-family: 'Freight Sans Pro', system-ui,inherit;
        font-size: 6.5rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        line-height: 55px;
        text-align: left;
        font-style: normal;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 40px;
        @media screen and (min-width: 2024px) {
          //font-size: 4.5rem;
          line-height: 60px;
        }
        @media screen and (min-width: 1024px) {
          font-size: 6rem;
          line-height: 50px;
        }
        @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: portrait) {
          font-size: 4.5rem;
          line-height: 35px;
        }

        @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: landscape) {
          font-size: 4.5rem;
          line-height: 35px;
        }
      }
    }
    span {
      color: #2e2e2e;
      font-family: 'Freight Sans Pro', system-ui,inherit;
      font-size: 2.4rem;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 0.55px;
      line-height: 35px;
      text-align: left;
      /* Text style for "Lorem ipsu" */
      font-style: normal;
      margin-bottom: 35px;
      display: inline-block;
      @media screen and (min-width: 2024px) {
        margin-top: -100px;
      }
      @media screen and (min-width: 1024px) {
        margin-top: -20px;
        font-size: 2.0rem;
        line-height: 25px;
      }
      @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: portrait) {
        margin-top: -20px;
      }

      @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: landscape) {
        margin-top: -20px;
      }
    }
    .inspiration-bottom-btn {
      width: 36%;
      padding: 12px 0px;
      background-color: #080808;
      color: #ffffff;
      font-family: 'Freight Sans Pro', system-ui,inherit;
      font-size: 2.75rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
      font-style: normal;
      text-transform: uppercase;
      border: none;
      @media screen and(max-width: 1610px) {
        width: fit-content;
        padding: 1rem;
      }
    }
  }
  .inspiration-bottom-image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    flex: 1;
    /* @media screen and (max-width: 1024px) {
      min-height: 80vw;
    } */
    img {
      width: 100%;
    }
    .inspiration-bottom-imagetxt {
      display: flex;
      flex-direction: column;
      left: 0;
      top: -30%;
      .insp-bot-sm {
        width: fit-content;
        padding-left: 10px;
        background-color: #000000;
        color: #ffffff;
        font-family: 'Ivy Presto Display', system-ui,inherit;
        font-size: 2.0rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 1.5px;
        text-align: left;
        text-transform: uppercase;
        text-align: center;
        z-index: 200;
        position: relative;
        @media only screen and(min-width: 375px) and (orientation: portrait) {
          top: -95px;
          font-size: 1.3rem;
        }
        @media only screen and(min-width: 375px) and (orientation: landscape) {
          top: -180px;
          font-size: 2.5rem;
        }
        @media only screen and(min-width: 1024px) {
          top: -116px;
          font-size: 1.3rem;
        }
        @media only screen and(min-width: 2024px) {
          top: -238px;
          font-size: 3.5rem;
        }
        /* @media screen and (min-width: 375px) and (max-width: 1024px) {
          top: -100px;
        } */
      }
      .insp-bot-lg {
        color: #ffffff;
        font-family: 'Freight Sans Pro', system-ui,inherit;
        font-size: 6rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        text-align: left;
        margin: 10px 0;
        text-transform: uppercase;
        background-color: #000000;
        text-align: left;
        padding: 0px 10px;
        width: fit-content;
        line-height: 61px;
        z-index: 200;
        position: relative;
        @media only screen and(min-width: 375px) and (orientation: portrait) {
          top: -90px;
          font-size: 2.5rem;
          width: 50%;
          line-height: 25px;
        }
        @media only screen and(min-width: 375px) and (orientation: landscape) {
          top: -120px;
          font-size: 2.5rem;
          width: 40%;
          line-height: 25px;
        }
        @media only screen and(min-width: 1024px) {
          top: -100px;
          font-size: 2.5rem;
          line-height: 25px;
          width: 40%;
        }
        @media only screen and(min-width: 2024px) {
          top: -238px;
          font-size: 6rem;
          line-height: 60px;
          width: 70%;
        }
      }
    }
    .inspiration-bottom-imagetxt-two {
      display: flex;
      flex-direction: column;
      left: 0;
      @media screen and (min-width: 2024px) {
        margin-top: 0rem;
      }
      @media screen and (min-width: 1024px) {
        margin-top: 0rem;
      }
      @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: portrait) {
        margin-top: -15rem;
      }

      @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: landscape) {
        //margin-top: -15rem;
      }
      .insp-bot-lg {
        color: #ffffff;
        font-family: 'Freight Sans Pro', system-ui,inherit;
        font-size: 6rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        text-align: left;
        /* Text style for "Entdecken" */
        font-style: normal;
        text-transform: uppercase;
        background-color: #000000;
        text-align: center;
        padding: 0px 10px;
        width: 60%;
        margin: 10px 0;
        line-height: 61px;
        position: relative;
        @media screen and (min-width: 2024px) {
          top: -45rem;
          text-align: left;
          line-height: 65px;
          font-size: 7rem;
        }
        @media screen and (min-width: 1024px) {
          top: -25rem;
          text-align: left;
          line-height: 35px;
          font-size: 4rem;
          width: 61%;
        }
        @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: portrait) {
          top: -35rem;
          text-align: left;
          line-height: 15px;
          font-size: 2rem;
          width: 40%;
        }

        @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: landscape) {
          top: -50rem;
          text-align: left;
          line-height: 35px;
          font-size: 4rem;
          width: 35%;
        }
      }
    }
  }
}
