.beauty__essential__container{
  background: black;
  position: relative;
  margin-top: 10rem;
  padding: 10rem 0;
  &__title{
    width: 90.5%;
    margin: 0 auto;
    position: relative;
    h3{
      font-family: 'Ivy Presto Display', system-ui !important;
      text-transform: uppercase;
      font-size: 5.8vw;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.34;
      letter-spacing: 11px;
      text-align: left;
      color: #ffffff;
      position: absolute;
      top: -4vw;
      @media screen and(max-width: 528px) {
        top:-8vw
      }
    }
  }
  &__items{
    @media screen and(max-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    }
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 4rem;
    gap: 4rem;
    width: 90.5%;
    margin: 0 auto;
    &__elem{
      width: 100%;
      &__body{
        width: 100%;
        &--img{
          img{
            width: 100%;
          }
        }
        &--text{
         .small{
           font-size: 2.5rem;
           font-weight: normal;
           font-stretch: normal;
           font-style: normal;
           line-height: 1.35;
           letter-spacing: 1.38px;
           text-align: left;
           color: #ffffff;
           margin-top: 1rem;
         }
          .title{
            font-size: 6.5rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.92;
            letter-spacing: 2.4px;
            text-align: left;
            color: #ffffff;
            width : 100%;
            overflow:hidden;
            max-height: 12rem;
            min-height: 12rem;
          }
          .text{
            font-size:2.4rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.59;
            letter-spacing: 0.55px;
            text-align: left;
            color: #ffffff;
            min-height: 20rem;
            max-height: 80rem;
          }
          .date{
            font-size: 2rem;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.06;
            letter-spacing: 0.34px;
            text-align: left;
            color: #ffffff;
          }
        }
      }
    }
  }
}