.text-component-body{
  padding:5rem 0;
  .text1{
    font-size: 2.5rem;
    color: #2e2e2e;
  }
  .text2{
    margin-top: 3.9rem;
    font-size: 2.5rem;
    color: #2e2e2e;
  }
  .text3{
    font-size: 2.5rem;
    color: #2e2e2e;
    a{
      color: #2e2e2e;
      text-decoration: none;
      &:hover{
        color: #2e2e2e;
        text-decoration: none;
      }
    }
    span{
      display: flex;
      align-items: center;

      .letter-svg{
        stroke: #2b2b2b;
        width: 28px;
        height: 27px;
        margin-right: 20px;
      }
    }
  }
}