.artikel__products__body{
  background: black;
  padding: 5rem 0;
  margin: 11rem auto;
  &__container{
    width: 90.5%;
    margin: 0 auto;
    &__text{
      @media screen and(max-width: 600px) {
        font-size: 4.5rem;
      }
      margin-bottom: 5.5rem;
      font-size: 6.5rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: 2.4px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
    }
    &__items{
      @media screen and(max-width: 1024px){
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      }
      @media screen and(max-width: 631px){
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
      }
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
      gap: 4rem;
    }
  }
}